ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.row {
    margin: 0;
}
footer, ul.row:last-child {
    clear: left;
}
ul.row li {
    float: left;
    border: 1px solid black;
}
.dropzone {
    width: 100px;
    height: 100px;
}
.draggable-current {
    opacity: 0.6;
}
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: 100px;
    height: 100px;
    float: left;
    border: 1px solid black;
    background-image: url("../img/logo.png");
}
[data-field="2"] {
    background-position: 200px 0;   
}
[data-field="3"] {
    background-position: 100px 0;   
}
[data-field="4"] {
    background-position: 0 200px;   
}
[data-field="5"] {
    background-position: 200px 200px;   
}
[data-field="6"] {
    background-position: 100px 200px;   
}
[data-field="7"] {
    background-position: 0px 100px;   
}
[data-field="8"] {
    background-position: 200px 100px;   
}
[data-field="9"] {
    background-position: 100px 100px;   
}